* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 75px;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.footer-content {
  padding-left: 5%;
}

.alnright { text-align: right; }
