.chatlog
  textarea.form-control(id='chattextarea' readonly)
.chatarea
  .input-group
    input.form-control(type='text' id='chatinput')
    span.input-group-btn
      button.btn.btn-default(type='button' id='chatbutton') Send
