extends layout

append body
  .banner.mid
    h2 Hiking and Transportation in Innsbruck
    a.btn.btn-default.btn-lg(href='/search')
      ="let's go! "
      .glyphicon.glyphicon-circle-arrow-right(aria-hidden='true')
