extends layout
append head
  link(rel='stylesheet' href='/leaflet/leaflet.css')
  link(rel='stylesheet' href='/css/leaflet.css')

append body
  div(id='map')

append js
  script(language='JavaScript' type='text/javascript' src='/leaflet/leaflet.js')
  script(language='JavaScript' type='text/javascript' src='/js/leaflet.js')
