extends layout
append head
  link(rel='stylesheet' href='http://openlayers.org/en/v3.10.1/css/ol.css')

append body
  include map.jade

append js
  script(language='JavaScript' type='text/javascript' src='http://openlayers.org/en/v3.10.1/build/ol.js')
  script(language='JavaScript' type='text/javascript' src='/js/map.js')
